<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
        body {
            background-color: #ff4162;
        }
        h1 {
            color: #ffffff;
            text-align: center;
            padding: 160px 0;
            padding-bottom: 0;
        }
        h3 {
            color: #ffffff;
            text-align: center;
        }
        .logo img {
            height: 15vh;
        }

    </style>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename = 'images/logo.png') }}" alt="logo">
    </div>
    <div class="error">
        <h1>Hooray! You've successfully signed up.</h1>
        <h3>Continue to <a href="{{ url_for('login')}}">login</a> page.</h3>
    </div>
    
</body>
</html>